@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

header {
    height: 67px;
    width: 100%;
    background-color: #C3CFD9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    color:#E8833A;
}


.top {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #293845;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.movie {
    height: 210px;
    width: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 2px 2px 0.5em gray;
    margin-top: 10px;
}

.movie>img {
    height: 193px;
    width: 129px;
}

.opcoes {
    margin-left: 25px;
}

.opcoes>.data {
    font-size: 20px;
    color: #293845;
}

.horarios {
    display: flex;
    margin-top: 22px;
    margin-bottom: 22px;
}

.horario {
    height: 43px;
    width: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: #E8833A;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 5px;
}

footer {
    height: 116px;
    width: 100%;
    background-color: #9EADBA;
    border-top: #9EADBE;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.poster-footer {
    height: 90px;
    width: 64px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 5px;
}

.poster-footer>img {
    height: 72px;
    width: 48px;
}

.texto-footer {
    display: flex;
    flex-direction: column;
}

.titulo-footer, .sessao-footer {
    color: #293845;
    font-size: 26px;
    margin-left: 14px;
}

.assentos {
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.assento {
    height: 26px;
    width: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    margin-right: 4px;
    margin-bottom: 18px;
    font-size: 12px;
}

.assento, .bolinha {
    border-radius: 50%;
}

.selecionado {
    background-color: #8DD7CF;
    border: 1px solid #45BDB0;
}

.disponivel {
    background-color: #C3CFD9;
    border: 1px solid #808F9D;
}

.indisponivel {
    background-color: #FBE192;
    border: 1px solid #F7C52B;
}

.guia {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.guia-assentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bolinha {
    height: 25px;
    width: 25px;
}

.status {
    color: #293845;
    font-size: 13px;
    margin-top: 10px;
}